@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Tajawal";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }

  .container {
    @apply w-full min-h-fit px-4 py-2 md:w-[668px] mx-auto lg:w-[924px];
  }
}
